body{
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 600px; 
}

h1{
    text-align: center;
    color: #ff69b4; 
    margin-top: 50px;
    font-family: 'Comic Sans MS', cursive, sans-serif; 
}

button{
    background-color: #ffb6c1; 
    color: white;
    padding: 10px 20px; 
    border: 2px solid #ffffff;
    border-radius: 10px; 
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p{
    text-align: center;
    color: #ff69b4;
    margin-top: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif; 
}

.timer{
    text-align: center;
    color: #333;
    margin-top: 20px;
    background-color: #ffe4e1; 
    border: 2px solid #ffb6c1; 
    border-radius: 15px; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1.2em; 
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.5em; 
    }

    button {
        width: 100%; 
        padding: 15px; 
    }

    .timer {
        font-size: 1em; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em; 
    }

    button {
        padding: 10px; 
    }

    .timer {
        font-size: 0.9em; 
    }
}

