body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7a9a9bb;
}

h1{
    text-align: center;
    color: #333;
    margin-top: 50px;
}

button{
    background-color: #868686;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    
}

p{
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.timer{
    text-align: center;
    color: #333;
    margin-top: 20px;
}